@tailwind base;
@tailwind components;
@tailwind utilities;

/* O resto do seu CSS personalizado continua aqui para baixo... */
.chart-container {
  position: relative;
  width: 100%;
  height: 280px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .chart-container {
    height: 320px;
  }
}
@media (min-width: 1024px) {
  .chart-container {
    height: 350px;
  }
}
